apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "hafiz.fullname" . }}
  labels:
    {{- include "hafiz.labels" . | nindent 4 }}
data:
  log-level: {{ .Values.hafiz.logLevel | quote }}
  log-format: {{ .Values.hafiz.logFormat | quote }}
  region: {{ .Values.hafiz.s3.region | quote }}
  max-body-size: {{ .Values.hafiz.s3.maxBodySize | quote }}
  request-timeout: {{ .Values.hafiz.s3.requestTimeout | quote }}
  storage-type: {{ .Values.hafiz.storage.type | quote }}
  storage-base-path: {{ .Values.hafiz.storage.basePath | quote }}
  compression-enabled: {{ .Values.hafiz.storage.compression | quote }}
  compression-level: {{ .Values.hafiz.storage.compressionLevel | quote }}
  metadata-type: {{ .Values.hafiz.metadata.type | quote }}
  {{- if eq .Values.hafiz.metadata.type "sqlite" }}
  sqlite-path: {{ .Values.hafiz.metadata.sqlitePath | quote }}
  {{- end }}
  encryption-enabled: {{ .Values.hafiz.encryption.enabled | quote }}
  {{- if .Values.hafiz.cluster.enabled }}
  cluster-enabled: "true"
  cluster-gossip-port: {{ .Values.hafiz.cluster.gossipPort | quote }}
  cluster-sync-port: {{ .Values.hafiz.cluster.syncPort | quote }}
  {{- end }}
  {{- if .Values.hafiz.ldap.enabled }}
  ldap-enabled: "true"
  ldap-url: {{ .Values.hafiz.ldap.url | quote }}
  ldap-base-dn: {{ .Values.hafiz.ldap.baseDn | quote }}
  ldap-bind-dn: {{ .Values.hafiz.ldap.bindDn | quote }}
  ldap-user-filter: {{ .Values.hafiz.ldap.userFilter | quote }}
  ldap-group-filter: {{ .Values.hafiz.ldap.groupFilter | quote }}
  {{- end }}
